---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, minRead } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Layout>
      <article>
        <div class="px-24">
          <div class="flex gap-x-3 items-center my-14">
            {
              heroImage && (
                <img
                  src={heroImage}
                  alt="hero"
                  class="size-28 object-contain"
                />
              )
            }
            <div class="flex flex-col gap-2">
              <h1
                class="text-slate-700 dark:text-darkText text-4xl font-black text-left"
              >
                {title}
              </h1>
              <div class="text-slate-700 dark:text-darkText text-sm">
                <FormattedDate date={pubDate} /> - {minRead} min read
                {
                  updatedDate && (
                    <div>
                      Last updated on <FormattedDate date={updatedDate} />
                    </div>
                  )
                }
              </div>
            </div>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </Layout>
  </body>
</html>
